<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_sAvOU937b64-X0WeiQ-tYhFzFMMZnuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>992211983637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Rutvik-Pipaliya.FireBase-Auth</string>
	<key>PROJECT_ID</key>
	<string>logorlogout</string>
	<key>STORAGE_BUCKET</key>
	<string>logorlogout.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992211983637:ios:ac68a8b1d1537c47dcdd1c</string>
</dict>
</plist>